services:

    api-gateway:
      build:
        context: services/ts
        dockerfile: api-gateway/Dockerfile
      env_file: 
      - path: ./default.env
      environment:
        - NODE_ENV=development
      ports:
        - "3000:8000"
      depends_on:
        - auth
        - user
        - analytics
        - market
  
    auth:
      build: 
        context: services/ts
        dockerfile: auth/Dockerfile
      env_file: 
      - path: ./default.env
        
    user:
      build:
        context: services/ts
        dockerfile: user/Dockerfile
      env_file: 
      - path: ./default.env
    
    analytics:
        build: ./services/python/analytics
        env_file: 
        - path: ./default.env
      
    market:
      build: ./services/python/market
      env_file: 
      - path: ./default.env
  
    #connect manually with `mysql -h 127.0.0.1 -P 3306 -u root -p`
    database:
      image: mysql:8.0-debian
      volumes: 
      - db_data:/var/lib/mysql
      - ./services/database:/docker-entrypoint-initdb.d
      secrets:
        - db_root_password
        - db_password
      environment:
        - MYSQL_ROOT_PASSWORD_FILE=/run/secrets/db_root_password
        - MYSQL_PASSWORD_FILE=/run/secrets/db_password
      ports:
        - "3306:3306"


secrets: 
  db_root_password: 
    file: db_root_password.txt
  db_password: 
    file: db_password.txt

volumes: 
  db_data: 
